<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task</title>
  </head>
  <body>
    <form action="/message" method="POST">
      <input
        type="text"
        placeholder="Specialization"
        name="specialization"
        required
      />
      <input type="text" placeholder="First Name" name="f_name" required />
      <input type="text" placeholder="Last Name" name="l_name" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
